@model MSBlogEngine.Web.Models.PostModel

<div class="post">
    <div class="date">@Model.Post.CreateDate</div>
    <div class="tags">
        @foreach (var tag in Model.Post.Tags)
        {
            <a href="@Url.Action("Posts", "Post", new { tag })">@tag</a>
        }
        
    </div>
    <div style="clear: both"></div>
    <div>
        @Html.Raw(@Model.Html)
    </div>
</div>
