@using MSBlogEngine.Web.Properties
@model MSBlogEngine.Web.Models.PostModel
@{
    var url = Url.Action("Post", "Post", new { id = Model.Post.Id }, Request.Url.Scheme);
}

<article>
    <div class="postHead">
        <div class="date">@Model.Post.CreateDate</div>
        <div class="tags">
            @foreach (var tag in Model.Post.Tags)
            {
                <a rel="tag" title="Tag: @tag" href="@Url.Action("Posts", "Post", new { tag })">@tag</a>
            }
        </div>
        <div style="clear: both"></div>
        <div class="postTitle">
            <a href="@url">
                <h1>@Model.Post.Title</h1>
            </a>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="postContent">
        <div>
            @Html.Raw(@Model.Html)
        </div>
        <div style="clear: both"></div>
        <div class="comments">
            @if (ViewBag.ShowComments)
            {
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_config = function () {
                        this.language = "@Resources.Html_Lang";
                    };
                    
                    var disqus_shortname = 'mateuszswietlicki'; 

                    (function () {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

            }
            else
            {
                <a title="Komentarze" href="@url#disqus_thread">Komentarze</a>
            }
        </div>
    </div>
</article>

