<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Mateusz Świetlicki: @ViewBag.Title</title>
    <link href="http://www.microsoft.com/visualstudio/_base_v2/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="Blog, Mateusz Świetlicki, C#, CSharp, Programing, Software development, Microsoft, visual studio, visual studio 2012, Git">
    <meta http-equiv="content-language" content="pl">
    <link href="~/Content/Site.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
    <header id="top-bar">
        <div class="titleImg">
            <img alt="Mateusz Świetlicki" src="~/Content/Images/ja.jpg" /></div>
        <div class="title">@Html.ActionLink("Mateusz Świetlicki", "Index", "Post")</div>
        <div class="subtitle">Blog programistyczny .NET</div>
        <ul class="nav">
            <li>@Html.ActionLink("Blog", "Index", "Post")</li>
            <li>@Html.ActionLink("Projekty", "Index", "Post")</li>
            <li>@Html.ActionLink("O mnie", "Index", "Post")</li>
        </ul>
    </header>
    <div id="content">
        <div id="emptyTopBox"></div>
        <section id="mainBody">
            @RenderBody()
        </section>

        @*        @Scripts.Render("~/bundles/jquery")*@

    </div>
    <footer id="footer">
        Napisz do mnie: <a href="mailto:blog@swietlicki.net">blog@swietlicki.net</a>
    </footer>
    <div id="emptyBottomBox"></div>
    @RenderSection("scripts", required: false)
</body>
</html>
