<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Mateusz Świetlicki: @ViewBag.Title</title>
    <link href="http://www.microsoft.com/visualstudio/_base_v2/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="Blog, Mateusz Świetlicki, C#, CSharp, Programing, Software development, Microsoft, visual studio, visual studio 2012, Git">
    <meta http-equiv="content-language" content="pl">
    <link href="~/Content/Site.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav id="nav">
            <ul>
                <li class="big">@Html.ActionLink("Mateusz Świetlicki", "Index", "Post")</li>
                <li>@Html.ActionLink("Projekty", "Index", "Post")</li>
                <li>@Html.ActionLink("O mnie", "Index", "Post")</li>
            </ul>
        </nav>
    </header>
    <div id="body">
        <section id="mainBody" >
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                @*<p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>*@
            </div>
        </div>
    </footer>

    @*        @Scripts.Render("~/bundles/jquery")*@
    @RenderSection("scripts", required: false)
</body>
</html>
