@using System.Globalization
@using MSBlogEngine.Web.Properties
@{
    var keyHashset = ViewBag.Keywords as HashSet<string> ?? new HashSet<string>();
    keyHashset.UnionWith(new[] { "Mateusz Świetlicki", "Świetlicki" });
    var keywords = keyHashset.Aggregate("", (acc, t) => acc + ", " + t).Substring(2);

}

<!DOCTYPE html>
<html lang="@Resources.Html_Lang">
<head>
    <meta charset="utf-8" />
    <title>Mateusz Świetlicki: @ViewBag.Title</title>
    <meta name="description" content="@Resources.Views_Shared_Layout_Description">
    <meta name="author" content="Mateusz Świetlicki">
    <link href="http://www.microsoft.com/visualstudio/_base_v2/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="@keywords">
    <link href="~/Content/Site.css" media="all" rel="stylesheet" type="text/css" />
    <link type="application/rss+xml" rel="alternate" title="@Resources.Views_Shared_Layout_Description" href="/rss">
    <link rel="author" href="//plus.google.com/114424783196736458698/">

    <script src="~/Scripts/analytics.js" type="text/javascript"></script>
</head>
<body>
    <div id="mainlayout">
        <header>
            <div class="titleImg">
                <img alt="Mateusz Świetlicki" src="~/Content/Images/ja.jpg" />
            </div>
            <div class="titleContent">
                <div class="title"><a title="@Resources.Views_Shared_Layout_Description" href="@Url.Action("Posts", "Post")">@Resources.Title</a></div>
                <div class="subtitle">@Resources.SubTitle</div>
                <nav>
                    <ul>
                        <li><a title="@Resources.Links_Blog_Title" href="@Url.Action("Posts", "Post")">@Resources.Links_Blog_Title</a></li>
                        <li><a title="@Resources.Links_Projects_Title" href="@Url.Action("Posts", "Post", new { tag = "projekty" })">@Resources.Links_Projects_Title</a></li>
                        <li><a title="@Resources.Links_Author_Title" href="@Url.Action("Post", "Post", new { id = "o-mnie" })" rel="author">@Resources.Links_Author_Title</a></li>
                        <li><a title="RSS" href="@Url.Action("RSS", "Post", new { tag = ViewBag.Tag })">RSS</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div id="emptyTopBox"></div>

        <section id="content">
            @RenderBody()
        </section>
        <footer>
            <div style="float: left">@Resources.Write_To_Me: <a href="mailto:blog@swietlicki.net">blog@swietlicki.net</a></div>
            <div style="float: right">© Copyright 2013, Mateusz Świetlicki.</div>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var disqus_shortname = 'mateuszswietlicki';

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
</body>
</html>
