<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Mateusz Świetlicki: @ViewBag.Title</title>
    <meta name="description" content=">Mateusz Świetlicki Blog programisty">
    <link href="http://www.microsoft.com/visualstudio/_base_v2/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="Blog,Mateusz Świetlicki,Świetlicki,C#,CSharp,Programing,Software development,Microsoft,visual studio,visual studio 2012,Git">
    <meta http-equiv="content-language" content="pl">
    <link href="~/Content/Site.css" media="all" rel="stylesheet" type="text/css" />
    <link type="application/rss+xml" rel="alternate" title="Mateusz Świetlicki Blog programisty" href="/rss">
</head>
<body>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1&appId=405859169532623";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-41087495-1', 'swietlicki.net');
        ga('send', 'pageview');

    </script>
    <header id="top-bar">
        <div class="titleImg">
            <img alt="Mateusz Świetlicki" src="~/Content/Images/ja.jpg" />
        </div>
        <div class="titleContent">
            <div class="title">@Html.ActionLink("Mateusz Świetlicki", "Posts", "Post")</div>
            <div class="subtitle">Blog programistyczny .NET</div>
            <ul class="nav">
                <li>@Html.ActionLink("Blog", "Posts", "Post")</li>
                <li>@Html.ActionLink("Projekty", "Posts", "Post", new { tag = "projekty" }, null)</li>
                <li>@Html.ActionLink("O mnie", "Post", "Post", new { id = "o-mnie" }, null)</li>
                <li>@Html.ActionLink("RSS", "RSS", "Post", new { tag = ViewBag.Tag }, null)</li>
            </ul>
        </div>
    </header>
    <div id="content">
        <div id="emptyTopBox"></div>
        <section id="mainBody">
            @RenderBody()
        </section>
    </div>
    <footer id="footer">
        <div>Napisz do mnie: <a href="mailto:blog@swietlicki.net">blog@swietlicki.net</a></div>
    </footer>
    <div id="emptyBottomBox"></div>
    @RenderSection("scripts", required: false)

    <div id="fb-root"></div>

</body>
</html>
