@{
    var keyHashset = ViewBag.Keywords as HashSet<string> ?? new HashSet<string>();
    keyHashset.UnionWith(new[] { "Mateusz Świetlicki", "Świetlicki" });
    var keywords = keyHashset.Aggregate("", (acc, t) => acc + ", " + t).Substring(2);
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>Mateusz Świetlicki: @ViewBag.Title</title>
    <meta name="description" content="Mateusz Świetlicki Blog programisty">
    <meta name="author" content="Mateusz Świetlicki">
    <link href="http://www.microsoft.com/visualstudio/_base_v2/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="@keywords">
    <link href="~/Content/Site.css" media="all" rel="stylesheet" type="text/css" />
    <link type="application/rss+xml" rel="alternate" title="Mateusz Świetlicki Blog programisty" href="/rss">
    <link rel="author" href="//plus.google.com/114424783196736458698/">

    <script src="~/Scripts/analytics.js" type="text/javascript"></script>
</head>
<body>

    <div id="mainlayout">
        <header>
            <div class="titleImg">
                <img alt="Mateusz Świetlicki" src="~/Content/Images/ja.jpg" />
            </div>
            <div class="titleContent">
                <div class="title"><a title="Mateusz Świetlicki Blog" href="@Url.Action("Posts", "Post")">Mateusz Świetlicki</a></div>
                <div class="subtitle">Blog programistyczny</div>
                <nav>
                    <ul>
                        <li><a title="Blog" href="@Url.Action("Posts", "Post")">Blog</a></li>
                        <li><a title="Projekty" href="@Url.Action("Posts", "Post", new { tag = "projekty" })">Projekty</a></li>
                        <li><a title="O mnie" href="@Url.Action("Post", "Post", new { id = "o-mnie" })" rel = "author">O mnie</a></li>
                        <li><a title="RSS" href="@Url.Action("RSS", "Post", new { tag = ViewBag.Tag })">RSS</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div id="emptyTopBox"></div>
        <section id="content">
            @RenderBody()
        </section>
        <footer>
            <div style="float: left">Napisz do mnie: <a href="mailto:blog@swietlicki.net">blog@swietlicki.net</a></div>
            <div style="float: right">© Copyright 2013, Mateusz Świetlicki.</div>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
