<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <title>Mateusz Świetlicki: @ViewBag.Title</title>
    <meta name="description" content="Mateusz Świetlicki Blog programisty">
    <meta name="author" content="Mateusz Świetlicki">
    <link href="http://www.microsoft.com/visualstudio/_base_v2/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Blog, Mateusz Świetlicki, Świetlicki, C#, CSharp, Programing, Software development, Microsoft, visual studio, visual studio 2012, Git">
    <link href="~/Content/Site.css" media="all" rel="stylesheet" type="text/css" />
    <link type="application/rss+xml" rel="alternate" title="Mateusz Świetlicki Blog programisty" href="/rss">
    <link rel="author" href="//plus.google.com/114424783196736458698/">

    <script src="~/Scripts/analytics.js" type="text/javascript"></script>
</head>
<body>
    <script src="~/Scripts/facebookInit.js" type="text/javascript"></script>

    <header>
        <div class="titleImg">
            <img alt="Mateusz Świetlicki" src="~/Content/Images/ja.jpg" />
        </div>
        <div class="titleContent">
            <div class="title"><a title="Mateusz Świetlicki Blog" href="@Url.Action("Posts", "Post")">Mateusz Świetlicki</a></div>
            <div class="subtitle">Blog programistyczny .NET</div>
            <nav>
                <ul>
                    <li><a title="Blog" href="@Url.Action("Posts", "Post")">Blog</a></li>
                    <li><a title="Projekty" href="@Url.Action("Posts", "Post", new { tag = "projekty" })">Projekty</a></li>
                    <li><a title="O mnie" href="@Url.Action("Post", "Post", new { id = "o-mnie" })" rel = "author">O mnie</a></li>
                    <li><a title="RSS" href="@Url.Action("RSS", "Post", new { tag = ViewBag.Tag })">RSS</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="emptyTopBox"></div>
    <section id="content">
        @RenderBody()
    </section>
    <footer>
        <div>Napisz do mnie: <a href="mailto:blog@swietlicki.net">blog@swietlicki.net</a></div>
    </footer>
    <div id="emptyBottomBox"></div>
    <div id="fb-root"></div>

    @RenderSection("scripts", required: false)
</body>
</html>
